:root {
    --light-colour: rgb(162,196,201);
    --colour: rgb(118,165,175);
    --darker-colour: rgb(69,129,142);
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    height: 97vh;  
    border: 1px solid red;
}

.card {
    background-color: var(--light-colour);
    border-radius: 10px;
    margin: 10px;
}

.title {
    background-color: transparent;
    border: 3px solid var(--light-colour);
    height: 7%;
}

.title h1 {
    padding: 10px;
    text-align: center;
}

/*  search section  */

.search-box {
    display: flex;
    flex-flow: column;
    width: 20%;
    background-color: var(--colour);
    align-items: center;
}

form {
    margin: 25px;
    padding-bottom: 30px;
    border-bottom: 3px solid white;
}

input {
    font-size: 18px;
    border-radius: 10px;
    border: 2px solid var(--darker-colour);
    padding-left: 10px;
    height: 30px;
    width: 95.5%;
    margin-bottom: 10px;
}

button {
    font-size: 15px;
    border-radius: 10px;
    border: 2px solid var(--darker-colour);
    padding: 5px;
    width: 100%;
}

/* search */

.search-box h2 {
    font-size: 14px;
    font-style: italic;
}

button:hover {
    background-color: lightgray;
}

/* previous city */

.prev-cities {
    width: 80%;
}

.prev-city {
    background-color: var(--darker-colour);
    padding: 10px 30px;
    opacity: 70%;
}

.prev-city:hover {
    opacity: 100%;
}

.prev-city h3 {
    font-size: 18px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.prev-city div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 20px;
}

.prev-city div p {
    font-size: 20px;
}

/*  weather section  */

.weather {
    width: 95%;
    height: 100%;
}

.current-weather {
    font-size: 42px;
    height: 60%;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.current-info {
    display: flex;
    width: 100%;  
}

/*  current location  */

.current-location {
    padding: 25px;
    text-align: center;
    margin-bottom: 30px;
    /* background-color: aqua; */
}

#current-date {
    font-style: italic;
    font-size: 24px;
    margin-bottom: 10px;
}

.current-weather-info {
    padding-bottom: 75px;
    display: flex;
    width: 100%;
}

/*  current main info  */

.current-main-info {
    /* border: 1px solid yellow; */
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: right;
    padding-bottom: 25px;
    padding-right: 10%;
}

#temp {
    font-size: 42px;
    font-weight: bold;
}

/*  current other info  */

.current-other-info {
    /* border: 1px solid blue; */
    display: flex;
    width: 50%;
    flex-flow: column;
    justify-content: center;
    padding-left: 0;
}

.current-other-info p {
    margin-bottom: 15px;
    font-size: 18px;
}

.current-other-info p span {
    padding-left: 10px;
    font-size: 24px;
}

#uvi {
    border-radius: 10px;
    padding-right: 10px;
    background-color: aquamarine;
}

/*  forecast weather */

.forecast-weather {
    display: flex;
    height: 29.7%;
    width: 100%;
    text-align: center;
    font-size: 20px;
}

.day {
    flex-grow: 1;
    padding: 15px;
    padding-top: 60px;
}

.forecast-main-info {
    display: flex;
    justify-content: center;
    padding-right: 25px;
}

.forecast-main-info p {
    padding-top: 5px;
    font-size: 32px;
}